---
title: Últimas novedades
menu: blog
layout: default
---

<section class="inner-header divider parallax layer-overlay overlay-dark-5"
	data-bg-img="{{'/assets/fotos/unsplash/fondo-rosas.webp' | relative_url}}">
	<div class="container pt-120 pb-50">
		<!-- Section Content -->
		<div class="section-content pt-100">
			<div class="row">
				<div class="col-md-12">
					<h1 class="title text-white">Blog</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section: Blog -->
<section>
	<div class="container mt-30 mb-30 pt-30 pb-30 wow fadeInUpBig animation-delay">
		<div class="row blog-posts">
			{% for post in paginator.posts %}
			<div class="col-sm-6 col-md-4 col-lg-4">
				<article class="post clearfix maxwidth600 mb-30">
					<div class="entry-header">
						<div class="post-thumb thumb" style="height: 180px;">
							<a href="{{post.url | relative_url}}">
								<img src="{{post.thumbnail | relative_url}}" alt=""
									class="img-responsive img-fullwidth {{post.bgColor}}">
							</a>
						</div>
					</div>
					<div class="entry-content border-1px p-20">
						<h5 class="entry-title font-raleway mt-0 pt-0"><a
								href="{{post.url | relative_url}}">{{post.title}}</a></h5>
						<div class="entry-meta">
							<ul class="list-inline entry-date font-12 mt-5">
								<li><span class="text-theme-colored">{{post.date | date: "%d-%m-%Y"}}</span>
								</li>
							</ul>
						</div>
						<div class="text-left mb-20 mt-15 font-13">{{ post.content | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | truncate: 190 }}</div>
						<a class="btn btn-dark btn-theme-colored btn-sm btn-flat pull-left mt-0"
							href="{{post.url | relative_url}}">Leer más</a>
						<div class="clearfix"></div>
					</div>
				</article>
			</div>
			{% endfor %}
		</div>

		{% if paginator.total_pages > 1 %}
		<div class="row">
			<div class="col-sm-12">
				<nav>
					<ul class="pagination theme-colored xs-pull-center m-0">
						{% if paginator.previous_page %}
						<li> <a href="{{paginator.previous_page_path | relative_url}}" aria-label="Anterior"> <span
									aria-hidden="true">«</span> </a> </li>
						{% endif %}
						{% for page in (1..paginator.total_pages) %}
						{% if page == paginator.page %}
						<li class="active"><a>{{page}}</a></li>
						{% elsif page == 1 %}
						<li><a href="{{site.baseurl}}/{{site.basefolder}}/blog">{{page}}</a></li>
						{% else %}
						<li><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{page}}</a></li>
						{% endif %}
						{% endfor %}
						{% if paginator.next_page %}
						<li> <a href="{{paginator.next_page_path | relative_url}}" aria-label="Siguiente"> <span
									aria-hidden="true">»</span> </a> </li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
		{% endif %}
	</div>
</section>