<!-- Footer -->
<footer id="footer" class="footer pb-0 bg-black-111">
	<div class="container pb-20">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<a class="text-white font-great-vibes font-32" href="#">Raquel &nbsp;<i class="fa fa-heart font-25"></i>
					Javier</a>
				<p id="frase-amor" class="font-16 text-theme-colored mt-20 mb-20">“Para sacar el máximo partido a la
					alegría hay
					que tener
					con quien compartirla” - Mark Twain
				</p>
			</div>
		</div>
	</div>
</footer>