<!-- Header -->
<header id="header" class="header navbar-scrolltofixed bg-lighter">
	<div class="header-nav">
		<div class="header-nav-wrapper">
			<div class="container">
				<nav>
					<div id="menuzord-right" class="menuzord default no-bg">
						<a class="menuzord-brand pull-left flip font-great-vibes text-theme-colored font-32"
							href="{{site.baseurl}}/{{site.basefolder}}/">Raquel &nbsp;<i
								class="fa fa-heart font-25"></i>
							Javier</a>
						<ul class="menuzord-menu">
							<li {% if page.menu=="home" %} class="active" {% endif %}><a
									href="{{site.baseurl}}/{{site.basefolder}}/">Inicio</a></li>
							<li {% if page.menu=="novia" or page.menu=="novio" or page.menu=="nuestra-historia" %}
								class="active" {% endif %}><a href="#">Sobre los novios</a>
								<ul class="dropdown">
									<li><a href="{{site.baseurl}}/{{site.basefolder}}/novios/novia.html">La novia</a>
									</li>
									<li><a href="{{site.baseurl}}/{{site.basefolder}}/novios/novio.html">El novio</a>
									</li>
									<li><a href="{{site.baseurl}}/{{site.basefolder}}/novios/nuestra-historia">Nuestra
											historia</a></li>
								</ul>
							</li>
							<li {% if page.menu=="programa" or page.menu=="luna-miel" %} class="active" {% endif %}>
								<a href="#">Sobre la boda</a>
								<ul class="dropdown">
									<li><a href="{{site.baseurl}}/{{site.basefolder}}/boda/programa.html">Programa</a>
									</li>
									<li><a href="{{site.baseurl}}/{{site.basefolder}}/boda/luna-miel.html">Luna de
											miel</a></li>
								</ul>
							</li>
							<li {% if page.menu=="confirmar-asistencia" %} class="active" {% endif %}><a
								href="{{site.baseurl}}/{{site.basefolder}}/asistencia/confirmar-asistencia.html">Confirmar asistencia</a>
							</li>
							<li {% if page.menu=="blog" or page.isPost %} class="active" {% endif %}><a
									href="{{site.baseurl}}/{{site.basefolder}}/blog">Blog</a>
							</li>
							<li {% if page.menu=="galeria" %} class="active" {% endif %}><a
								href="{{site.baseurl}}/{{site.basefolder}}/galeria/galeria.html">Galería</a>
						</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>