
<!-- Header -->
<header id="header" class="header navbar-scrolltofixed bg-lighter">
	<div class="header-nav">
		<div class="header-nav-wrapper">
			<div class="container">
				<nav>
					<div id="menuzord-right" class="menuzord red no-bg"> <a
							class="menuzord-brand pull-left flip font-great-vibes text-theme-colored font-32"
							href="#">Raquel &nbsp;<i class="fa fa-heart font-25"></i>
							Javi</a>
						<ul class="menuzord-menu">
							<li {% if page.title == "home" %} class="active" {% endif %}><a href="#home">Inicio</a></li>
							<li><a href="#">Sobre los novios</a>
								<ul class="dropdown">
									<li><a href="page-about-her.html">La novia</a></li>
									<li><a href="page-about-him.html">El novio</a></li>
									<li><a href="page-our-story.html">Nuestra historia</a></li>
								</ul>
							</li>
							<li><a href="#">Sobre la boda</a>
								<ul class="dropdown">
									<li><a href="page-program-of-the-day.html">Programa del día</a></li>
									<li><a href="page-wedding-location.html">Ceremonia</a></li>
									<li><a href="page-accomodation.html">Cena</a></li>
									<li><a href="page-bridesmaid.html">Viaje de novios</a></li>
								</ul>
							</li>

							<li><a href="#">Blog</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
